.threat-statement-generator-editor-container-token-selector-suggestion-groups {
  display: table;
}

.threat-statement-generator-editor-container-token-selector-suggestion-group {
  display: table-row;
}

.threat-statement-generator-editor-container-token-selector-suggestion-button-wrapper {
  display: table-cell;
}

.threat-statement-generator-editor-container-token-selector-suggestion-button-wrapper > button > span {
  white-space: nowrap !important;
}

.threat-statement-generator-editor-container-token-selector-suggestion {
  display: table-cell;
  align-self: center;
}
