.threat-statement-generator-threat-model-view h1 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.threat-statement-generator-threat-model-view h2 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.threat-statement-generator-threat-model-view h3 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.threat-statement-generator-threat-model-view h4 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}