.threat-statement-editor-statement-list-card-tags {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.threat-statement-editor-statement-list-card-tags>div {
  display: inline-block !important;
}

.threat-statement-editor-statement-list-card-tags>div:last-child {
  margin-left: 10px;
}