.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  z-index: 100;
  line-height: 20px;
  font-size: 14px;
}

.tooltip-top {
  width: 110px;
  bottom: 150%;
  left: 50%;
  margin-left: -56px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
