.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  z-index: 100;
  line-height: 20px;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.tooltip-top {
  width: 110px;
  bottom: 125%;
  left: 50%;
  margin-left: -56px;
}

.tooltip-bottom {
  width: 110px;
  top: 110%;
  left: 50%;
  margin-left: -56px;
}

.tooltip-top.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-bottom.tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
