.threat-statement-generator-editor-container-token-selector-expandable-token {
  margin-left: 5px;
  margin-right: 5px;
  height: 20px !important;
  width: 20px;
}

.threat-statement-generator-editor-container-token-selector-expandable-token svg {
  color: black;
  height: 16px;
  width: 16px;
  display: inline-block;
}