.threat-statement-generator-modal-main {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh !important;
  opacity: 0;
  z-index: -9999;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  transition: opacity 0.2s linear;
}

.threat-statement-generator-modal-main-active {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  transition: opacity 0.2s linear;

  opacity: 1;
  z-index: 1299;
}

.threat-statement-generator-modal-content-container {
  width: 800px;
  margin: auto;
  position: relative;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.75);
}

.threat-statement-generator-modal-content-main {
  position: relative;
  margin: 20px;
}

.threat-statement-generator-modal-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #5f6b7a !important;
  z-index: 1299;
}

.threat-statement-generator-modal-close-button:hover {
  color: #9ba7b6 !important;
}


