div.markdown-viewer table {
  border-collapse: collapse;
}

div.markdown-viewer tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

div.markdown-viewer th,
div.markdown-viewer td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

div.markdown-viewer table tr:nth-child(2n) {
  background: #f6f8fa;
}
