name: build
on: [push, pull_request]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: pushd /tmp && git clone --depth 1 https://github.com/awslabs/git-secrets.git && cd ./git-secrets && PREFIX=/tmp/git-secrets make install && popd
      - run: npm install -g typescript
      - run: npm install -g yarn
      - run: npm install -g oss-attribution-generator
      - run: npm install -g @aws/pdk
      - run: pdk install --frozen-lockfile & pdk
      - run: PATH=/tmp/git-secrets/bin:$PATH pdk run build
      - run: pdk workspaces run eslint